$primary: #FFFFFF;
$secondary: #b71a1b;
$white: #FFFFFF;
$gray: #503e3f;
$black: #201F1F;
$persic: #C68457;


$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --black: #3C3F48;
  --blue: #008DD2;
  --lblue: #CCE8F6;
  --dblue: #003854;
  --white: #FFFFFF;
  --gray: #DEE1E3;
  --lgray: #ABB4B9;
  --bluedark: #0073A8;

  --cols: 2;
}



