.menu {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: space-between;
  @include breakpoint($xl-bp) {
    height: calc(100% - 8rem);
    overflow: auto;
    position: absolute;
    top: 8rem;
    right: 0;
    z-index: 3;
    transform: translateX(100%);
    width: 100%;
    background-color: var(--white);
    transition: transform .5s ease;
    padding: 2.4rem 2rem;
    flex-direction: column;
    align-items: flex-start;
  }
  @include breakpoint($sm-bp) {
    height: calc(100% - 7rem);
    top: 7rem;
    padding: 2rem;
  }
  .menu__right-block {
    display: flex;
    gap: 6rem;
    align-items: center;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
    }
    @include breakpoint($sm-bp) {
      padding: 0;
      padding-top: 4rem;
      gap: 2rem;
      width: 100%;
    }
  }
}

.menu--open {
  transform: translateX(0);
}

// .menu-button {
//   width: 30px;
//   height: 30px;

//   background-color: red;

//   position: absolute;

//   right: 0;
//   top: 0;

//   z-index: 3;
// }

.menu-button {
  width: 4rem;
  height: 3.4rem;
  background-color: transparent;
  border: 0;

  z-index: 4;
  display: none;
  position: relative;
  @include breakpoint($xl-bp) {
    margin-top: 1.6rem;
    align-self: flex-start;
  }
  .burger-button-close {
    #first-line-burger,
    #second-line-burger,
    #third-line-burger {
        width: 100%;
        height: 0.2rem;
        border-radius: 0.1rem;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center center;
        transition: transform 0.4s ease, opacity 0.4s ease;
        @include breakpoint($xl-bp) {
          border-radius: 0;
        }
    }

    #first-line-burger {
        top: 0%;
    }
    #third-line-burger {
        top: unset;
        bottom: 0%;
    }
  }
  @include breakpoint($xl-bp) {
    display: block;
    margin-left: 3rem;
  }
  @include breakpoint($sm-bp) {
    margin-left: 0;
    width: 2.4rem;
    height: 1.6rem;
  }
}

.header__menu-button--active,
.menu-button--active {
  .burger-button-close {
    #first-line-burger {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
    #second-line-burger {
      transform: translateX(100%);
      opacity: 0;
    }
    #third-line-burger {
      top: 50%;
      bottom: 0;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}


.menu-button--active {

}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

div.select-button {
  position: relative;
  cursor: pointer;
  &::before {
    content: attr(data-text);
  }
  i {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    @include breakpoint($sm-bp) {
      right: 0.2rem;
      top: 0.7rem;
    }
  }
}
div.select-button:focus + .select-lang {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

div.select-lang {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 0.1rem solid var(--lblue);
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
  a {
    padding: 1rem;
    color: var(--black);
    &:hover {
      color: var(--orange);
    }
  }
}
div.select-lang:focus{
  top:5rem;
  visibility:visible;
  opacity:1;
}