<header class="header z-10">
  <div class="page-wrapper flex justify-between items-center bg-white">
    <div>
      <a href="#home" class="block logo w-[24.6rem] sm:w-158 h-40 sm:h-26 py-30 xl:py-10 box-content"></a>
      <a href="tel:+77051390899" class="link text-18 leading-27 font-medium hidden xl:block xl:w-fit">+7 (705) 139-08-99</a>
    </div>
  
    {{> menu}}

    <div class="lang relative hidden xl:block">
      <div class="select-button text-20 leading-30 font-medium" data-text="RU" tabindex="1">
        <!-- Ru -->
        <i class="arrow down"></i>
      </div>
      <div class="select-lang" tabindex="1">
        <a class="bold22" href="#">RU</a>
        <a class="bold22" href="#">EN</a>
      </div>
    </div>
<!--   
    <button class="menu-button myclass">
      <span class="burger-button-close">
        <span id="first-line-burger"></span>
        <span id="second-line-burger"></span>
        <span id="third-line-burger"></span>
      </span>
    </button> -->
  </div>
</header>

<div class="h-100 w-full"></div>