<header class="header z-10">
  <div class="page-wrapper flex justify-between items-center bg-white">
    <div>
      <a href="#home" class="block logo w-[24.6rem] sm:w-158 h-40 sm:h-26 py-30 xl:py-10 box-content"></a>
      <a href="tel:+78126705517" class="link text-18 leading-27 font-medium hidden xl:block xl:w-fit">+7 (812) 670-55-17</a>
    </div>
  
    {{> menu}}
  
    <button class="menu-button myclass">
      <span class="burger-button-close">
        <span id="first-line-burger"></span>
        <span id="second-line-burger"></span>
        <span id="third-line-burger"></span>
      </span>
    </button>
  </div>
</header>

<div class="h-100 w-full"></div>