<div class="menu">
  <div class="menu__right-block">
    <a href="tel:+78126705517" class="link text-20 leading-30 font-medium sm:text-14 sm:leading-16 xl:hidden">+7 (812) 670-55-17</a>
  
    <a href="mailto:ginfo@n-lc.ru" class="link text-20 leading-30 font-medium sm:text-14 sm:leading-16">info@n-lc.ru</a>

    <div class="lang relative">
      <div class="select-button text-20 leading-30 font-medium" data-text="RU" tabindex="1">
        <!-- Ru -->
        <i class="arrow down"></i>
      </div>
      <div class="select-lang" tabindex="1">
        <a class="bold22" href="#">RU</a>
        <a class="bold22" href="#">EN</a>
      </div>
    </div>
  
    <button class="page-button sm:w-full" data-modal="#modal">оставить заявку</button>
  </div>
</div>