<div class="menu xl:!hidden">
  <div class="menu__right-block">
    <a href="tel:+77051390899" class="link text-20 leading-30 font-medium sm:text-14 sm:leading-16 xl:hidden">+7 (705) 139-08-99</a>
  
    <a href="mailto:nlc_trade@mail.kz" class="link text-20 leading-30 font-medium sm:text-14 sm:leading-16">nlc_trade@mail.kz</a>

    <div class="lang relative">
      <div class="select-button text-20 leading-30 font-medium" data-text="RU" tabindex="1">
        <!-- Ru -->
        <i class="arrow down"></i>
      </div>
      <div class="select-lang" tabindex="1">
        <a class="bold22" href="#">RU</a>
        <a class="bold22" href="#">EN</a>
      </div>
    </div>
  
    <button class="page-button sm:w-full" data-modal="#modal">запрос</button>
  </div>
</div>